@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    border-collapse: separate;
    border-spacing: 0 0.75em;

  }

tbody>tr {outline: thin dashed black;}
tfoot>tr {outline: thin dashed rgb(192, 192, 192);}
td,th {
padding: 0.5em;
}